.container {
    display: grid;
    /* grid-template-columns: repeat( auto-fill, minmax(400px, 1fr)); */
    /* grid-template-columns: repeat(2 , 1fr);  */
    /* grid-template-columns: auto; */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: auto; */
    /* grid-gap: 30px; */
    /* justify-content: center;
    text-align: center; */
    /* margin: 0px 10px; */
}

.body {
    background: #242328;
}

p {
    color: white;
    line-height: 1;
}

.head1 {

    font-size: 60px;
    margin: 0 0 0 0;
    color: #79a4d8;
}

.head2 {

    font-size: 40px;
    margin: 0 0 0 0;
    color: #49515c;
}

.head3 {

    font-size: 20px;
    margin: 0 0 0 0;
    background: #49515c;
}

.head4 {

    font-size: 18px;
    margin: 0 0 0 0;
}

.blockButton {
    width: 100px;
    margin: 0 0 0 0;
}

/* @media screen and (max-width: 1600px) {
    .head1{

    }
    .d1 {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .d2 {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .d3 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 6;
        grid-column-end: 11;
    }
    .d4{
        grid-row: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }
} */

@media screen and (max-width: 480px) {

    .head1{
        font-size: 40px;
    }
    .head2{
        font-size: 20px;
    }
    .d1{
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 6;
    }



    .d2{
        grid-column-start: 7;
        grid-column-end: 11;
        right: 0px;
    }
    .d3{
        grid-row: 2;
        grid-column: span 10;
    }
    .d4{
        grid-row: 3;
    }
    
}